
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #777;
    background: #121212;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    border: medium 1 !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    height: 40px;
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.container2 {
    max-width: 95%;
    width: 100%;
    margin-top: 2.5%;
    position: relative;
}

#pubgolf-score, #pubgolf-div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #1d1d1d;
    padding: 25px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 5px 10px 7px 0 rgba(0, 0, 0, 0.24);
}

h3 {
    display: block;
    color: lightgray;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

h4 {
    color: whitesmoke;
    margin: 5px 0 15px;
    display: block;
    font-size: 35px;
    font-weight: 400;
    line-height: 20px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #03a9f4;
    color: white;
    font-weight: 400;
}

table, th, td {
    height: 60px;
    border-collapse: collapse;
    border: 1px solid black;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    overflow-x: auto;
}
table td:first-of-type {
    color: #8bc34a;
}
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    background: #03a9f4;
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 25px;
}

button:hover {
    background: #2196f3;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

button:active {
    background: #2196f3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

input {
    font-size: 40px;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    height: 75px;
}

select {
    font-size: 40px;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    height: 75px;
}

input:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}