spring:
  application:
    name: pubgolf

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include:
          - "health"
          - "info"
          - "prometheus"
  endpoint:
    prometheus:
      enabled: true