name: Build Backend

on:
  pull_request:
    paths:
      - 'apps/backend/**'
      - '.github/workflows/backend-feature-branch.yml'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Lint
        run: ./gradlew apps:backend:ktlintCheck

      - name: Build
        run: ./gradlew apps:backend:assemble --no-daemon

      - name: Unit Test
        run: ./gradlew apps:backend:test --no-daemon

      - name: Integration Test
        run: ./gradlew apps:backend:integrationTest --no-daemon
