name: Build & Push Backend Image

on:
  push:
    paths:
      - 'apps/backend/**'
      - '.github/workflows/backend.yml'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Lint
        run: ./gradlew apps:backend:ktlintCheck

      - name: Build
        run: ./gradlew apps:backend:assemble --no-daemon

      - name: Unit Test
        run: ./gradlew apps:backend:test --no-daemon

      - name: Integration Test
        run: ./gradlew apps:backend:integrationTest --no-daemon

  containerize:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build JAR
        run: ./gradlew apps:backend:bootJar --no-daemon

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          COMMIT_SHA=${GITHUB_SHA::7}
          IMAGE_NAME=ghcr.io/bensuskins/pubgolf-backend

          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$COMMIT_SHA ./apps/backend
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$COMMIT_SHA
