name: Build & Push Frontend Image

on:
  push:
    paths:
      - 'apps/frontend-rewrite/**'
      - '.github/workflows/frontend.yml'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: apps/frontend-rewrite

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Build
        run: bun run build

      - name: Test
        run: echo "No tests configured"

  containerize:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          COMMIT_SHA=${GITHUB_SHA::7}
          IMAGE_NAME=ghcr.io/bensuskins/pubgolf-frontend

          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$COMMIT_SHA ./apps/frontend-rewrite
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$COMMIT_SHA
