name: Build Frontend

on:
  pull_request:
    paths:
      - 'apps/frontend-rewrite/**'
      - '.github/workflows/frontend-feature-branch.yml'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: apps/frontend-rewrite

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Build
        run: bun run build

      - name: Test
        run: echo "No tests configured"
