name: Build Frontend

on:
  pull_request:
    paths:
      - 'apps/frontend-rewrite/**'
      - '.github/workflows/frontend.yml'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build application
        run: |
          cd apps/frontend-rewrite
          npm ci && npm run build